.App {
  text-align: center;
  height : 100vh;
}

.search .ant-input{
  background-color: #fff; 
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%); 
  border-color: rgba(223,225,229,0);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  height: 52px;
  text-align: center;
}
.search .ant-btn{
  background-color: #fff; 
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%); 
  border-color: rgba(223,225,229,0);
  border-bottom-right-radius: 50px !important;
  border-top-right-radius: 50px !important;
  height: 52px;
}
.search .ant-input-group-addon {
  background-color: transparent;
}
.delete-cache .ant-select-selector{
  border-radius: 50px !important;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%) !important;
  border-color: rgba(223,225,229,0) !important;
  height: 42px !important;
}

.delete-cache .ant-select-selection-item{
  border-radius: 50px !important;
}
.history-list{
  height : 400px !important;
  overflow : auto;
  text-align: left;
}
.card{
  border-radius: 14px;
  background: white;
  border-radius: 15px;
  padding: 160px 45px 30px;
  box-shadow: 0 10px 40px rgb(0 0 0 / 10%);
  border: none;
}
.CodeMirror-wrap{
  text-align: left;
}
.editor-toolbar .easymde-dropdown, .editor-toolbar button {

  color: rgba(0,0,0,0.6);
}

.news-feed{
  position: relative;
  border: 1px solid #f5f5f5;;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.news-feed .labels{
    position: absolute;
    top: -50px;
    background-color: #f5f5f5;
    padding: 5px;
    right: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;

}

