.App {
  text-align: center;
  height: 100vh;
}

.search .ant-input {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  height: 52px;
  text-align: center;
}

.search .ant-btn {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
  border-bottom-right-radius: 50px !important;
  border-top-right-radius: 50px !important;
  height: 52px;
}

.search .ant-input-group-addon {
  background-color: transparent;
}

.delete-cache .ant-select-selector {
  border-radius: 50px !important;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%) !important;
  border-color: rgba(223, 225, 229, 0) !important;
  height: 42px !important;
}

.delete-cache .ant-select-selection-item {
  border-radius: 50px !important;
}

.history-list {
  height: 400px !important;
  overflow: auto;
  text-align: left;
}

.card {
  border-radius: 14px;
  background: white;
  border-radius: 15px;
  padding: 160px 45px 30px;
  box-shadow: 0 10px 40px rgb(0 0 0 / 10%);
  border: none;
  min-height: 725px;
}

.CodeMirror-wrap {
  text-align: left;
}

.editor-toolbar .easymde-dropdown, .editor-toolbar button {
  color: rgba(0, 0, 0, 0.6);
}

.news-feed {
  position: relative;
  border: 1px solid #f5f5f5;
  ;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.news-feed .labels {
  position: absolute;
  top: -50px;
  background-color: #f5f5f5;
  padding: 5px;
  right: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
}

.window-buttons {
  position: absolute;
  z-index: 999;
  top: 5px;
  right: 20px;
}

.repo-holder {
  border: 1px solid #d0d7de;
  border-radius: 6px;
  padding: 15px;
  color: #57606a;
}

.repo-name {
  color: #0969da;
  font-weight: 600!important;
  font-size: 14px;
}

.octicon {
  fill: currentColor;
  display: inline-block;
  overflow: visible!important;
  vertical-align: text-bottom;
}

.window {
  min-height: 600px;
}

@media (max-width: 1400px) {
  .react-kanban-card, .react-kanban-card-adder-form, .react-kanban-card-skeleton {
    box-sizing: border-box;
    max-width: 170px !important;
    min-width: 170px !important;
  }
}

/* Dark theme */

.dark {
  background-color: #121212 !important;
  color: #fff !important;
}

.dark .card {
  background-color: #282828!important;
}
.dark .labels {
  color: #fff;
  background-color: #121212;
}
.dark .search .ant-input, .dark .search .ant-btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff !important;
}

.dark .ant-select-selector {
  background-color: #272727 !important;
}

.dark .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #333333 !important;
}

.dark .ant-select-selection-item {
  background-color: rgb(94, 94, 94) !important;
  border: #272727 !important;
  color: #fff;
}

.dark .ant-select-dropdown {
  background-color: #473f46 !important;
}

.dark .ant-btn-primary {
  border-color: #272727 !important;
  background: #272727 !important;
}

.dark .ant-select-selection-item-remove, .dark .ant-progress-circle .ant-progress-text, .dark .ant-radio-wrapper,.dark .ant-checkbox-wrapper, .dark .ant-tabs, .dark .editor-toolbar button {
  color: #fff !important;
}

.dark .editor-toolbar button:hover,
.dark .editor-toolbar button.active {
  background: #272727 !important;
}

.dark .react-kanban-column {
  border-radius: 10px;
  background-color: #121212!important;
}
.dark .news-feed{
      background-color: #121212!important;
      border: none;
}
.dark h2, .dark a {
  color: #fff !important
}
.dark .ant-tag{
  background-color: #5e5e5e;
  border-color: #5e5e5e !important;
  color: #fff !important;
}
.dark .ant-select-item-option{
  background-color: #473f46!important;
  color : #fff;
}
.dark .ant-select-item-option-active{
  background-color: #5e5e5e !important;
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #f5f5f5 !important;
  color: #5e5e5e !important;
}
.dark .CodeMirror-wrap, .dark .cm-link, .dark .editor-preview{
  background-color: #121212!important;
  color : #fff !important;
}

.CodeMirror-fullscreen{
  z-index: 9999 !important;
}

.dark .editor-toolbar.fullscreen {
  background-color: #121212!important;
  color: #fff!important;
}
